body{
    background-color: rgb(182, 182, 245);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.acess-buttons{
    max-width: 160px;
    padding: 10px;
}
.box{
    background-color: rgb(255, 255, 255);
    max-width: 200px;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
}
#log-box{
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 15px;
    border-radius: 10px;
h3{
    color: rgb(182, 182, 245);
}
#login-button{
    width: 50%;
    background-color: rgb(182, 182, 245);
    border-radius: 20px;
    border: 2px;
}
form input[type=email],
form input[type=password],
form input[type=text]{
    height: 20px;
    width: 100%;
    border: 2px solid rgb(182, 182, 245);
    margin: 3px 0;
}