body{
    background-color: rgb(182, 182, 245);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.acess-buttons{
    max-width: 160px;
    padding: 10px;
}
.box{
    background-color: rgb(255, 255, 255);
    max-width: 200px;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
}
.med-box{
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 10px;
    margin: auto;
    max-width: 70%;
    max-height: 80%;
}
.tabe{
    margin: auto;
    max-width: 60%;
    align-items: center;
    justify-content: center;
}
#log-box{
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 10px;
    margin: auto;
}
h3{
    color: rgb(182, 182, 245);
}
#login-button{
    width: 50%;
    background-color: rgb(182, 182, 245);
    border-radius: 20px;
    border: 2px;
}
form input[type=email],
form input[type=password],
form input[type=text]{
    height: 20px;
    width: 100%;
    border: 2px solid rgb(182, 182, 245);
    margin: 3px 0;
}

.med-list{
    height: 20px;
    width: 100%;
    border: 2px solid rgb(182, 182, 245);
    margin: 3px 0;
}
.doctors{
    max-width: 150px;
    border-radius: 100px;
}

.meds{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    max-width: 100%;
}

.titulo{
    color: white;
}
.choose-docs{
    color: white;
    background-color: rgb(182, 182, 245);
    border-radius: 10px;
    width: 80%;
    margin-bottom: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}